@import "../fonts/TTFirsNeue/stylesheet.css";
@import "vue-select/dist/vue-select.css";
@import "./base.scss";
@import "./select.scss";
@import "./slider.scss";
@import "./checkboxes.scss";
#app {
  margin: 0 auto;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: var(--vt-c-text-dark-1);
  height: fit-content;
  &:hover {
    text-decoration: underline;
  }
}
button {
  &:hover {
    background-color: var(--vt-c-green-hover) !important;
  }
  &:active {
    background-color: var(--vt-c-green-active) !important;
  }
}
button[class$="--outlined"] {
  &:hover {
    background-color: #f0f5f0 !important;
  }
  &:active {
    background-color: #def3b5 !important;
  }
}
sup {
  font-size: 10px;
}
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.compact {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 128px);
  max-width: 1312px;
}
section {
  border-top-right-radius: 80px;
}
@media (max-width: 760px) {
  .compact {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 64px);
  }
}
